@font-face {
    font-family: 'Harman-Sans';
    src: url('/fonts/Harman-Sans.otf') format('opentype')
}

@font-face {
    font-family: 'Harman-Simple';
    src: url('/fonts/Harman-Simple.otf') format('opentype')
}


body{
    background-color: rgb(0,53,84);
    margin: 0px;
    padding:0px;
}

button{
    display: inline-block;
    text-align: center;
    background-color: rgba(5,130,202,100%);
    padding: 30px 60px;
    color:white;
    font-family: Harman-Sans;
    border: none;
    letter-spacing: 1px;
}

.btn{
    text-align: center;
}

button:hover{
    background-color: rgba(5,130,202,70%);
    cursor: pointer;
}
.submitButton{
    text-align: right;
}



ul{
    justify-content: space-between;
    list-style: none;
    background-color: rgb(5,130,202);
    margin: 0px;
    padding-left: 2%;

}


li a{
    font-family: 'Harman-Sans';
    text-decoration: none;
    display: inline-block;
    float: right;
    color:white;
    text-align: center;
    padding-right:3%;
    padding-top: 40px;
    padding-bottom:40px;
    justify-self: end;
}

li img{
    border-style: none;
    float:left;
    justify-self: start;
}

li a:hover{
    text-decoration: none;
    color: rgba(255,255,255,70%);
    cursor:pointer;
}

li a:visited{
    text-decoration: none;
    cursor:pointer;
}

p{
    font-family: 'Harman-Simple';
    font-size: 20px;
    padding:20px;
    color:white;
    line-height:1.5;
}

table{
    margin-left:30px;
    margin-right:30px;
}

td{
    margin-left: 15px;
    background-color: rgb(5,130,202);
}

h1{
    font-family: 'Harman-Sans';
    font-size: 40px;
    color:white;

}

img{
    border-color: rgb(5,130,202);
}

header{
    background-color: rgb(5,130,202);
    width: 100%;
    padding: 0px;
    margin: 0px;
}

header::after{
    content:'';
    display: table;
    clear:both;
}
.containerFLEX{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.photo{
    border-style: solid;
    margin-left: 30px;
    border-width: 10px;
}

.logo{
    margin-left: 0%;
    right:0px;
}

.contactFormBox{
    background-color: rgb(5,130,202);
    padding:20px;
}

form{
    display: flex;
    flex-direction: column;

}

label{
    color:white;
    font-family: "Harman-Simple";
    font-size: 20px;

}

input,textarea{
    font-family: sans-serif;
    color: white;
    width: 100%;

    box-sizing: border-box; /*Without this, the box's size will go over 100% because whatever padding applies is added to the width.
                            by default, box-sizing is set to content-box...
                            https://developer.mozilla.org/en-US/docs/Web/CSS/box-sizing*/

    font-size: 18px;

    padding: 7px 10px;
    background-color: rgb(0,100,148);

    border:none;
    border-radius:5px;

}

input[type="submit"]{
    -webkit-appearance:none;
    opacity: 1;
}

/* Used to set placeholder color for different browsers*/
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgba(255,255,255,70%);
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgba(255,255,255,70%);
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: rgba(255,255,255,70%);
}

@media screen and (max-width:1100px) {
    .containerFLEX{ align-items: flex-start;}
}

@media screen and (max-width:1000px) {
    .containerFLEX {
        flex-direction: column;
    }
    .photo{
        margin: auto;
    }
}

@media screen and (max-width:600px) {
    .photo{
        width: 80%;
        height: auto;
    }
}